default:
    suites:
        default:
            paths:
                - tests/Behat/features
            contexts:
                - App\Tests\Behat\CleanArchContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
