openapi: 3.0.1

info:
  title: clean arch demo
  contact:
    url: https://www.%placeholder%.de
    email: fatal.error.27@gmail.com
  version: "1.0"

servers:
  - url: https://www.PLACEHOLDER.de/ca-example/

paths:
  /ca-example/:
    put:
      description: add user
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/requestBodies/AddUserBody'
      responses:
        201:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SuccessEntityResponse'
        400:
          description: invalid parameter
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        415:
          description: invalid media type
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        500:
          description: internal server error
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'

  /ca-example/{userId}:
    get:
      description: load user
      parameters:
        - name: userId
          in: path
          description: user id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SuccessEntityResponse'
        400:
          description: invalid parameter
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        415:
          description: invalid media type
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        500:
          description: internal server error
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
    delete:
      description: delete user
      parameters:
        - name: userId
          in: path
          description: user id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SuccessEntityResponse'
        400:
          description: invalid parameter
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        415:
          description: invalid media type
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        500:
          description: internal server error
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
    patch:
      description: update user
      parameters:
        - name: userId
          in: path
          description: user id
          required: true
          schema:
            type: integer
      requestBody:
        description: working mode
        content:
          'application/json':
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SuccessEntityResponse'
        400:
          description: invalid parameter syntax
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        415:
          description: invalid media type
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        500:
          description: internal server error
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'

components:
  schemas:
    ClientErrorResponse:
      type: object
      properties:
        code:
          type: number
          description: |
            | Code | Description
            +------+------------
            |  -1  | Invalid parameter
            |  -2  | Invalid media type
            |  -3  | Invalid json content
        message:
          type: string

    ServerErrorResponse:
      type: object
      properties:
        code:
          type: number
          description: |
            | Code | Description
            +------+------------
            | -10  | PDO Exception
            | -11  | PDO Exception no login data
            | -12  | DB is empty
            | -13  | Entity not found
            | -14  | Entity can not be saved
            | -15  | Entity can not be deleted
            | -16  | Entity can not be updated
            | -99  | Unknown error
        entities:
          type: array
          items:
            type: object
            properties: {}
            description: always empty array on error

    SuccessEntityResponse:
      type: object
      properties:
        code:
          type: number
          description: |
            | Code | Description
            +------+------------
            |   1  | Success
        entities:
          type: array
          description: filled on get methods, else empty object
          items:
            type: object
            properties:
              weekDays:
                type: array
                items:
                  type: object
                  properties: {}
              weekNo:
                type: integer
              weekDelta:
                type: integer
  parameters:
    employerId:
      name: employerId
      in: path
      description: employer id
      required: true
      example: 1
      schema:
        type: integer
    employerWorkingTimeId:
      name: employerWorkingTimeId
      in: path
      description: employer working time id
      required: true
      example: 1
      schema:
        type: integer
    date:
      name: date
      in: path
      description: date (YYYY-MM-DD)
      required: true
      example: 2020-01-01
      schema:
        type: string
    toDate:
      name: toDate
      in: path
      description: date (YYYY-MM-DD)
      required: true
      example: 2020-01-01
      schema:
        type: string

  requestBodies:
    AddEntityBody:
      required: true
      description: required parameter for add
      content:
        'application/json':
          schema:
            type: object
            properties:
              begin:
                $ref: '#/components/requestBodies/begin'
              mode:
                $ref: '#/components/requestBodies/mode'

    UpdateEntityBody:
      required: true
      description: required parameter for update
      content:
        'application/json':
          schema:
            type: object
            properties:
              begin:
                $ref: '#/components/requestBodies/begin'
              end:
                $ref: '#/components/requestBodies/end'
              break:
                $ref: '#/components/requestBodies/break'
              mode:
                $ref: '#/components/requestBodies/mode'

    begin:
      required: true
      description: timestamp of beginning working
      content:
        'application/json':
          schema:
            type: integer
    end:
      required: true
      description: timestamp of ending working
      content:
        'application/json':
          schema:
            type: integer
    break:
      required: true
      description: break in minutes
      content:
        'application/json':
          schema:
            type: integer
    mode:
      required: true
      description: working mode
      content:
        'application/json':
          schema:
            type: string